{% extends "maestra.html" %}
{% block titulo %}

{% endblock %}
{% block contenido %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <title>Resgistro_Empreasa</title>
</head>

<body>


    <div class="registro">
        <div class="pared"><br></div>
        <div class="tituRegistro">
            <h2>Registro Empresa</h2>
        </div>
        <div class="formulario">
            <form action="{{url_for('Registro_cliente')}}" method="POST">
                <label for="nombreEmpresa" class="label1">Nombre Empresa: </label>
                <input class="nombreEmpresa" type="text" name="nombreEmpresa" id="nombreEmpresa" placeholder="">
                <br><br>
                <label for="Ubicacion" class="label2">Ubicacion: </label>
                <input type="text" name="Ubicacion" class="ubicacion" id="Ubicacion" placeholder="">
                <br><br>
                <label for="TelefonoEmpresa " class="label1">Telefono Empresa: </label>
                <input type="number" name="TelefonoEmpresa" class="nombreEmpresa" id="TelefonoEmpresa" placeholder="">
                <br><br>
                <label for="Años_Servicios" class="label2">Años de Servicios</label>
                <input type="number" name="Años_Servicios" class="ubicacion" id="Años_Servicios" placeholder="">
                <br><br>
                <label for="Nombre_Administrador" class="label1">Nombre Administrador: </label>
                <input type="text" name="Nombre_Administrador" class="nombreEmpresa" id="Nombre_Administrador"
                    placeholder="">
                <br><br>
                <label for="RUT" class="label2">RUT: </label>
                <input type="number" name="RUT" class="ubicacion" id="RUT" placeholder="Numero Unico">
                <br><br>
                <label for="Telefono_Administrador" class="label1">Telefono Administrador: </label>
                <input type="number" name="Telefono_Administrador" class="nombreEmpresa" id="Telefono_Administrador"
                    placeholder=" ">
                <br><br>
                <label for="cc" class="label2">CC: </label>
                <input type="number" name="cc" class="ubicacion" id="cc" placeholder="Cedula de Ciudadania">
                <br><br>
                <label for="email" class="label1">Correo Electronico: </label>
                <input type="email" name="email" class="nombreEmpresa" id="email" placeholder=" ">
                <br><br>
                <label for="contaseña" class="label2">contraseña: </label>
                <input type="password" name="contraseña" class="ubicacion" id="contraseña" placeholder=" ">
                <br><br>
                <button type="submit" class="botonR">Registrarse</button>

            </form>
        </div>
    </div>
</body>

</html>
{% endblock %}